.container-fluid-margin {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

table.item-list100 {
	width: 100%;
	padding: 8;
	border-collapse: 0;
}
td.head1 {
	height: 25;
	font-weight: bold;
	background-color: #fff;
}
.font-head1 {
	font-size: 2;
	color: #000;
}
.font-def1 {
	font-size: 2;
	color: #555;
}
.link-color {
	a.link { color: #0000ff; }
	a.visited { color: #0000cc; }
	a.hover  { color: #0000cc; }
	a.active { color: #0000cc; }
}